Obtain all the data for the Bachelor students, starting from 2007. Keep only the students for which you have an entry for both Bachelor semestre 1 and Bachelor semestre 6. Compute how many months it took each student to go from the first to the sixth semester. Partition the data between male and female students, and compute the average -- is the difference in average statistically significant?

In [57]:
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup
import urllib
import csv

In [58]:
r = requests.get('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247')
htmlContent = BeautifulSoup(r.content, 'html.parser')
print(htmlContent.prettify())

<html>
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
   <div>
   </div>
   <title>
   </title>
   <script src="GEDPUBLICREPORTS.txt?ww_x_path=Gestac.Base.Palette_js&amp;ww_c_langue=fr" type="text/javascript">
   </script>
   <link href="GEDPUBLICREPORTS.css?ww_x_path=Gestac.Moniteur.Style" rel="stylesheet" type="text/css">
    <link href="GEDPUBLICREPORTS.css?ww_x_path=Gestac.Moniteur.StyleNavigator" rel="stylesheet" type="text/css"/>
   </link>
  </meta>
 </head>
 <body alink="#666666" bgcolor="#ffffff" link="#666666" marginheight="0" marginwidth="5" vlink="#666666">
  <div class="filtres">
   <form action="!GEDPUBLICREPORTS.filter" method="GET" name="f">
    <input name="ww_b_list" type="hidden" value="1">
     <input name="ww_i_reportmodel" type="hidden" value="133685247">
      <input name="ww_c_langue" type="hidden" value="">
       <h1 id="titre">
        Liste des étudiants inscrits par semestre
       </h1>
       <table border="0" id="format">
        <tr>
         <th>
          Format:
         </th>
        </tr>
        <tr>
         <td>
          <input checked="" name="ww_i_reportModelXsl" type="radio" value="133685270">
           html
          </input>
         </td>
        </tr>
        <tr>
         <td>
          <input name="ww_i_reportModelXsl" type="radio" value="133685271">
           xls
          </input>
         </td>
        </tr>
       </table>
       <h1>
       </h1>
       <table border="0" id="filtre">
        <tr>
         <th>
          Unité académique
         </th>
         <td>
          <input name="zz_x_UNITE_ACAD" type="hidden" value="">
           <select name="ww_x_UNITE_ACAD" onchange="document.f.zz_x_UNITE_ACAD.value=document.f.ww_x_UNITE_ACAD.options[document.f.ww_x_UNITE_ACAD.selectedIndex].text">
            <option value="null">
            </option>
            <option value="942293">
             Architecture
            </option>
            <option value="246696">
             Chimie et génie chimique
            </option>
            <option value="943282">
             Cours de mathématiques spéciales
            </option>
            <option value="637841336">
             EME (EPFL Middle East)
            </option>
            <option value="942623">
             Génie civil
            </option>
            <option value="944263">
             Génie mécanique
            </option>
            <option value="943936">
             Génie électrique et électronique
            </option>
            <option value="2054839157">
             Humanités digitales
            </option>
            <option value="249847">
             Informatique
            </option>
            <option value="120623110">
             Ingénierie financière
            </option>
            <option value="946882">
             Management de la technologie
            </option>
            <option value="944590">
             Mathématiques
            </option>
            <option value="945244">
             Microtechnique
            </option>
            <option value="945571">
             Physique
            </option>
            <option value="944917">
             Science et génie des matériaux
            </option>
            <option value="942953">
             Sciences et ingénierie de l'environnement
            </option>
            <option value="945901">
             Sciences et technologies du vivant
            </option>
            <option value="1574548993">
             Section FCUE
            </option>
            <option value="946228">
             Systèmes de communication
            </option>
           </select>
          </input>
         </td>
        </tr>
        <tr>
         <th>
          Période académique
         </th>
         <td>
          <input name="zz_x_PERIODE_ACAD" type="hidden" value="">
           <select name="ww_x_PERIODE_ACAD" onchange="document.f.zz_x_PERIODE_ACAD.value=document.f.ww_x_PERIODE_ACAD.options[document.f.ww_x_PERIODE_ACAD.selectedIndex].text">
            <option value="null">
            </option>
            <option value="355925344">
             2016-2017
            </option>
            <option value="213638028">
             2015-2016
            </option>
            <option value="213637922">
             2014-2015
            </option>
            <option value="213637754">
             2013-2014
            </option>
            <option value="123456101">
             2012-2013
            </option>
            <option value="123455150">
             2011-2012
            </option>
            <option value="39486325">
             2010-2011
            </option>
            <option value="978195">
             2009-2010
            </option>
            <option value="978187">
             2008-2009
            </option>
            <option value="978181">
             2007-2008
            </option>
           </select>
          </input>
         </td>
        </tr>
        <tr>
         <th>
          Période pédagogique
         </th>
         <td>
          <input name="zz_x_PERIODE_PEDAGO" type="hidden" value="">
           <select name="ww_x_PERIODE_PEDAGO" onchange="document.f.zz_x_PERIODE_PEDAGO.value=document.f.ww_x_PERIODE_PEDAGO.options[document.f.ww_x_PERIODE_PEDAGO.selectedIndex].text">
            <option value="null">
            </option>
            <option value="249108">
             Bachelor semestre 1
            </option>
            <option value="249114">
             Bachelor semestre 2
            </option>
            <option value="942155">
             Bachelor semestre 3
            </option>
            <option value="942163">
             Bachelor semestre 4
            </option>
            <option value="942120">
             Bachelor semestre 5
            </option>
            <option value="2226768">
             Bachelor semestre 5b
            </option>
            <option value="942175">
             Bachelor semestre 6
            </option>
            <option value="2226785">
             Bachelor semestre 6b
            </option>
            <option value="2230106">
             Master semestre 1
            </option>
            <option value="942192">
             Master semestre 2
            </option>
            <option value="2230128">
             Master semestre 3
            </option>
            <option value="2230140">
             Master semestre 4
            </option>
            <option value="2335667">
             Mineur semestre 1
            </option>
            <option value="2335676">
             Mineur semestre 2
            </option>
            <option value="2063602308">
             Mise à niveau
            </option>
            <option value="249127">
             Projet Master automne
            </option>
            <option value="3781783">
             Projet Master printemps
            </option>
            <option value="953159">
             Semestre automne
            </option>
            <option value="2754553">
             Semestre printemps
            </option>
            <option value="953137">
             Stage automne 3ème année
            </option>
            <option value="2226616">
             Stage automne 4ème année
            </option>
            <option value="983606">
             Stage printemps 3ème année
            </option>
            <option value="2226626">
             Stage printemps 4ème année
            </option>
            <option value="2227132">
             Stage printemps master
            </option>
           </select>
          </input>
         </td>
        </tr>
        <tr>
         <th>
          Type de semestre
         </th>
         <td>
          <input name="zz_x_HIVERETE" type="hidden" value="">
           <select name="ww_x_HIVERETE" onchange="document.f.zz_x_HIVERETE.value=document.f.ww_x_HIVERETE.options[document.f.ww_x_HIVERETE.selectedIndex].text">
            <option value="null">
            </option>
            <option value="2936286">
             Semestre d'automne
            </option>
            <option value="2936295">
             Semestre de printemps
            </option>
           </select>
          </input>
         </td>
        </tr>
       </table>
       <input name="dummy" type="submit" value="ok"/>
      </input>
     </input>
    </input>
   </form>
   <script type="text/javascript">
    function loadReport(x) {
    var querysup='';
    writeRunning(top.principal);
    for (i=0; document.f.elements.length > i; i++){
     if (document.f.elements[i].checked){
      querysup=querysup+'&'+document.f.elements[i].name+'='+document.f.elements[i].value;
     }
     if (document.f.elements[i].type=='select-one') {
      querysup=querysup+'&'+document.f.elements[i].name+'='+document.f.elements[i].options[document.f.elements[i].selectedIndex].value;
     }
     if (document.f.elements[i].type=='text'){
      querysup=querysup+'&'+document.f.elements[i].name+'='+document.f.elements[i].value;
     }
    }
    parent.principal.location = "!GEDPUBLICREPORTS.bhtml?"+x+"&ww_i_reportModel=133685247"+querysup;
    if (navigator.userAgent.toUpperCase().indexOf('SAFARI') != -1) {
     document.location.reload();
    }
   }
   </script>
   <h1>
   </h1>
   <table border="0">
   </table>
  </div>
 </body>
</html>
<!-- OpenXml:0.00s  agent ctrl:0.00s  xml:0.52s  xsl clob before parse:0.00s  xsl extr&stylesheet:0.00s  xsl clob before parse:0.00s  xsl after parsing:0.00s  xsl ctrl data:0.00s  transform 2:0.05s  xsl process:0.01s  -->

In [80]:
# We first get the "Computer science" value
computerScienceField = htmlContent.find('option', text='Informatique')
computerScienceField

In [60]:
computerScienceValue = computerScienceField.get('value')
computerScienceValue

'249847'

In [61]:
# Then, we're going to need all the academic years values.
academicYearsField = htmlContent.find('select', attrs={'name':'ww_x_PERIODE_ACAD'})
academicYearsSet = academicYearsField.findAll('option')

# Since there are several years to remember, we're storing all of them in a table to use them later
academicYearValues = []
# We'll put the textual content in a table aswell ("Master semestre 1", "Master semestre 2"...)
academicYearContent = []

for option in academicYearsSet:
    value = option.get('value')
    # However, we don't want any "null" value
    if value != 'null':
        academicYearValues.append(value)
        academicYearContent.append(option.text)

In [81]:
# Now, we have all the academic years that might interest us. We wrangle them a little bit so be able to make request more easily later.
academicYearValues_series = pd.Series(academicYearValues)
academicYearContent_series = pd.Series(academicYearContent)
academicYear_df = pd.concat([academicYearContent_series, academicYearValues_series], axis = 1)
academicYear_df.columns= ['Academic_year', 'Value']
academicYear_df = academicYear_df.sort_values(['Academic_year', 'Value'], ascending=[1, 0])
academicYear_df

  Academic_year      Value
9     2007-2008     978181
8     2008-2009     978187
7     2009-2010     978195
6     2010-2011   39486325
5     2011-2012  123455150
4     2012-2013  123456101
3     2013-2014  213637754
2     2014-2015  213637922
1     2015-2016  213638028
0     2016-2017  355925344

In [82]:
# Then, let's get all the pedagogic periods we need. It's a little bit more complicated here because we need to link the pedagogic period with a season (eg : Bachelor 1 is autumn, Bachelor 2 is spring etc.)
# Thus, we need more than the pedagogic values. For doing some tests to associate them with the right season, we need the actual textual value ("Bachelor semestre 1", "Bachelor semestre 2" etc.)
pedagogicPeriodsField = htmlContent.find('select', attrs={'name':'ww_x_PERIODE_PEDAGO'})
pedagogicPeriodsSet = pedagogicPeriodsField.findAll('option')

# Same as above, we'll store the values in a table
pedagogicPeriodValues = []
# We'll put the textual content in a table aswell ("Master semestre 1", "Master semestre 2"...)
pedagogicPeriodContent = []

for option in pedagogicPeriodsSet:
    value = option.get('value')
    if value != 'null':
        pedagogicPeriodValues.append(value)
        pedagogicPeriodContent.append(option.text)

In [83]:
# Let's make the values and content meet each other
pedagogicPeriodContent_series = pd.Series(pedagogicPeriodContent)
pedagogicPeriodValues_series = pd.Series(pedagogicPeriodValues)
pedagogicPeriod_df = pd.concat([pedagogicPeriodContent_series, pedagogicPeriodValues_series], axis = 1);
pedagogicPeriod_df.columns = ['Pedagogic_period', 'Value']

In [84]:
# We keep all semesters related to Bachelor students
pedagogicPeriod_df_bachelor = pedagogicPeriod_df[[period.startswith('Bachelor') for period in pedagogicPeriod_df.Pedagogic_period]]

pedagogicPeriod_df = pd.concat([pedagogicPeriod_df_bachelor])
pedagogicPeriod_df

       Pedagogic_period    Value
0   Bachelor semestre 1   249108
1   Bachelor semestre 2   249114
2   Bachelor semestre 3   942155
3   Bachelor semestre 4   942163
4   Bachelor semestre 5   942120
5  Bachelor semestre 5b  2226768
6   Bachelor semestre 6   942175
7  Bachelor semestre 6b  2226785

In [85]:
# Lastly, we need to extract the values associated with autumn and spring semesters.
semesterTypeField = htmlContent.find('select', attrs={'name':'ww_x_HIVERETE'})
semesterTypeSet = semesterTypeField.findAll('option')

# Again, we need to store the values in a table
semesterTypeValues = []
# We'll put the textual content in a table aswell
semesterTypeContent = []

for option in semesterTypeSet:
    value = option.get('value')
    if value != 'null':
        semesterTypeValues.append(value)
        semesterTypeContent.append(option.text)

In [86]:
# Here are the values for autumn and spring semester :

semesterTypeValues_series = pd.Series(semesterTypeValues)
semesterTypeContent_series = pd.Series(semesterTypeContent)
semesterType_df = pd.concat([semesterTypeContent_series, semesterTypeValues_series], axis = 1)
semesterType_df.columns = ['Semester_type', 'Value']
semesterType_df

           Semester_type    Value
0     Semestre d'automne  2936286
1  Semestre de printemps  2936295

Now, we got all the information to get all the master students ! Let's make all the requests we need to build our data. We will try to do requests such as :
Get students from bachelor semester 1 of 2007-2008
...
Get students from bachelor semester 6b of 2007-2008
... and so on for each academic year until 2015-2016, the last complete year. We can even take the first semester of 2016-2017 into account, to check if some students we though they finished last year are actually still studying.

We can ask for a list of student in two formats : HTML or CSV. We choosed to get them in a HTML format because this is the first time that we wrangle data in HTML format, and that may be really useful to learn in order to work with most of the websites in the future ! The request sent by the browser to IS Academia, to get a list of student in a HTML format, looks like this : http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?arg1=xxx&arg2=yyy With "xxx" the value associated with the argument named "arg1", "yyy" the value associated with the argument named "arg2" etc. It uses to have a lot more arguments. For instance, we tried to send a request as a "human" through our browser and intercepted it with Postman interceptor. We found that the folowing arguments have to be sent : ww_x_GPS = -1 ww_i_reportModel = 133685247 ww_i_reportModelXsl = 133685270 ww_x_UNITE_ACAD = 249847 (which is the value of computer science !) ww_x_PERIODE_ACAD = X (eg : the value corresponding to 2007-2008 would be 978181) ww_x_PERIODE_PEDAGO = Y (eg : 2230106 for Master semestre 1) ww_x_HIVERETE = Z (eg : 2936286 for autumn semester)
The last three values X, Y and Z must be replaced with the ones we extracted previously. For instance, if we want to get students from Master, semester 1 (which is necessarily autumn semester) of 2007-2008, the "GET Request" would be the following :
http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=133685270&ww_x_UNITE_ACAD=249847&ww_x_PERIODE_ACAD=978181&ww_x_PERIODE_PEDAGO=2230106&ww_x_HIVERETE=2936286
So let's cook all the requests we're going to send !

In [87]:
# Let's put the semester types aside, because we're going to need them
autumn_semester_value = semesterType_df.loc[semesterType_df['Semester_type'] == 'Semestre d\'automne', 'Value']
autumn_semester_value = autumn_semester_value.iloc[0]

spring_semester_value = semesterType_df.loc[semesterType_df['Semester_type'] == 'Semestre de printemps', 'Value']
spring_semester_value = spring_semester_value.iloc[0]