In [1]:
import pandas as pd
import numpy as np

In [3]:
filename ="CrowdstormingDataJuly1st.csv"
Data = pd.read_csv(filename)

In [5]:
Data.ix[:10,:13]

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,0,1,0
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,0,1,0
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,1,0,0
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,0,0,0
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,0,0,0
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,0,1,0
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,0,0,0
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,0,1,0
8,anders-lindegaard,Anders Lindegaard,Manchester United,England,13.04.1984,193.0,80.0,Goalkeeper,1,0,1,0,0
9,andreas-beck,Andreas Beck,1899 Hoffenheim,Germany,13.03.1987,180.0,70.0,Right Fullback,1,1,0,0,0
10,antonio-rukavina,Antonio Rukavina,Real Valladolid,Spain,26.01.1984,177.0,74.0,Right Fullback,2,2,0,0,0

In [7]:
Data.ix[:10,13:28]

,yellowCards,yellowReds,redCards,photoID,rater1,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,0,0,0,95212.jpg,0.25,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,1,0,0,1663.jpg,0.75,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,1,0,0,NaN,NaN,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,0,0,0,NaN,NaN,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,0,0,0,NaN,NaN,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
5,0,0,0,3868.jpg,0.25,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
6,0,0,0,47704.jpg,0.00,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
7,0,0,0,22356.jpg,1.00,1.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
8,0,0,0,16528.jpg,0.25,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
9,0,0,0,36499.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
10,1,0,0,59786.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752

In [31]:
test = Data[Data['yellowReds']>0]
test = test.reset_index()
test.ix[:10,13:28]

,goals,yellowCards,yellowReds,redCards,photoID,rater1,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp
0,0,0,1,0,26219.jpg,0.25,0.25,7,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0
1,0,0,1,0,150431.jpg,1.00,1.00,7,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0
2,0,0,1,0,26417.jpg,0.25,0.25,16,13,SGP,0.430279,2771.0,0.000146,0.649098,2884.0
3,0,0,1,0,99096.jpg,0.50,0.75,35,12,LBY,0.227627,19.0,0.019982,-0.111111,18.0
4,0,0,1,0,NaN,NaN,NaN,49,32,CHE,0.345305,1886.0,0.000219,0.377193,1938.0
5,0,2,1,0,9180.jpg,0.25,0.25,66,4,LUX,0.325185,127.0,0.003297,0.538462,130.0
6,0,0,1,0,8129.jpg,0.25,0.25,66,4,LUX,0.325185,127.0,0.003297,0.538462,130.0
7,0,0,1,0,19497.jpg,0.00,0.00,66,4,LUX,0.325185,127.0,0.003297,0.538462,130.0
8,0,0,1,0,1332.jpg,0.25,0.25,67,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0
9,1,2,1,0,3486.jpg,0.25,0.25,67,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0
10,1,0,1,0,29262.jpg,0.25,0.25,69,44,ENGL,0.326690,44791.0,0.000010,0.356446,46916.0

In [ ]:
# TODO: disaggregate

In [36]:
from sklearn.ensemble import RandomForestClassifier
from numpy import genfromtxt, savetxt

def main():
    #create the training & test sets, skipping the header row with [1:]
    dataset = genfromtxt(open(Data,'r'), delimiter=',', dtype='f8')[1:]    
    target = [x[0] for x in dataset]
    train = [x[1:] for x in dataset]
    test = genfromtxt(open(Data,'r'), delimiter=',', dtype='f8')[1:]
    
    #create and train the random forest
    #multi-core CPUs can use: rf = RandomForestClassifier(n_estimators=100, n_jobs=2)
    rf = RandomForestClassifier(n_estimators=100)
    rf.fit(train, target)

    savetxt('Data/submission2.csv', rf.predict(test), delimiter=',', fmt='%f')

if __name__=="__main__":
    main()

TypeError: invalid file:                   playerShort                 player                  club  \
0               lucas-wilchez          Lucas Wilchez         Real Zaragoza
1                  john-utaka             John Utaka       Montpellier HSC
2                 abdon-prats            Abdón Prats          RCD Mallorca
3                  pablo-mari             Pablo Marí          RCD Mallorca
4                  ruben-pena             Rubén Peña       Real Valladolid
5                aaron-hughes           Aaron Hughes             Fulham FC
6          aleksandar-kolarov     Aleksandar Kolarov       Manchester City
7            alexander-tettey       Alexander Tettey          Norwich City
8           anders-lindegaard      Anders Lindegaard     Manchester United
9                andreas-beck           Andreas Beck       1899 Hoffenheim
10           antonio-rukavina       Antonio Rukavina       Real Valladolid
11             ashkan-dejagah         Ashkan Dejagah             Fulham FC
12          benedikt-hoewedes       Benedikt Höwedes         FC Schalke 04
13                chris-baird            Chris Baird             Fulham FC
14                chris-brunt            Chris Brunt  West Bromwich Albion
15             daniel-schwaab         Daniel Schwaab      Bayer Leverkusen
16                dennis-aogo            Dennis Aogo          Hamburger SV
17           george-mccartney       George McCartney       West Ham United
18           gylfi-sigurdsson       Gylfi Sigurðsson     Tottenham Hotspur
19             ivan-obradovic         Ivan Obradović         Real Zaragoza
20                jan-moravek            Jan Morávek           FC Augsburg
21              jan-rosenthal          Jan Rosenthal           SC Freiburg
22                jonny-evans            Jonny Evans     Manchester United
23      kyriakos-papadopoulos  Kyriakos Papadopoulos         FC Schalke 04
24                marko-marin            Marko Marin            Chelsea FC
25               mats-hummels           Mats Hummels     Borussia Dortmund
26                mesut-oezil             Mesut Özil           Real Madrid
27            milorad-pekovic        Milorad Peković  SpVgg Greuther Fürth
28              nemanja-vidic          Nemanja Vidić     Manchester United
29              neven-subotic          Neven Subotić     Borussia Dortmund
...                       ...                    ...                   ...
145998        mohamed-sissoko        Mohamed Sissoko   Paris Saint-Germain
145999                   nani                   Nani     Manchester United
146000           nedum-onuoha           Nedum Onuoha   Queens Park Rangers
146001          nelson-valdez          Nelson Valdez           Valencia CF
146002     nemanja-pejcinovic     Nemanja Pejčinović              OGC Nice
146003        nikos-karabelas        Nikos Karabelas            Levante UD
146004        obafemi-martins        Obafemi Martins            Levante UD
146005              petr-cech              Petr Čech            Chelsea FC
146006      radoslav-zabavnik      Radoslav Zabavník       1. FSV Mainz 05
146007   rafael-van-der-vaart   Rafael van der Vaart          Hamburger SV
146008         ricardo-vaz-te         Ricardo Vaz Tê       West Ham United
146009          richard-dunne          Richard Dunne           Aston Villa
146010       robin-van-persie       Robin van Persie     Manchester United
146011          romelu-lukaku          Romelu Lukaku  West Bromwich Albion
146012      sebastian-larsson      Sebastian Larsson        Sunderland AFC
146013       sebastian-proedl        Sebastian Prödl         Werder Bremen
146014          shaun-maloney          Shaun Maloney        Wigan Athletic
146015  shaun-wright-phillips  Shaun Wright-Phillips   Queens Park Rangers
146016             shay-given             Shay Given           Aston Villa
146017           shola-ameobi           Shola Ameobi      Newcastle United
146018      slobodan-rajkovic      Slobodan Rajković          Hamburger SV
146019          steven-taylor          Steven Taylor      Newcastle United
146020           timmy-simons           Timmy Simons        1. FC Nürnberg
146021          titus-bramble          Titus Bramble        Sunderland AFC
146022        tom-huddlestone        Tom Huddlestone     Tottenham Hotspur
146023          tomas-rosicky          Tomáš Rosický            Arsenal FC
146024           winston-reid           Winston Reid       West Ham United
146025        xherdan-shaqiri        Xherdan Shaqiri        Bayern München
146026    yassine-el-ghanassi    Yassine El Ghanassi  West Bromwich Albion
146027           zdenk-pospch         Zdeněk Pospěch       1. FSV Mainz 05

       leagueCountry    birthday  height  weight              position  games  \
0              Spain  31.08.1983   177.0    72.0  Attacking Midfielder      1
1             France  08.01.1982   179.0    82.0          Right Winger      1
2              Spain  17.12.1992   181.0    79.0                   NaN      1
3              Spain  31.08.1993   191.0    87.0           Center Back      1
4              Spain  18.07.1991   172.0    70.0      Right Midfielder      1
5            England  08.11.1979   182.0    71.0           Center Back      1
6            England  10.11.1985   187.0    80.0         Left Fullback      1
7            England  04.04.1986   180.0    68.0  Defensive Midfielder      1
8            England  13.04.1984   193.0    80.0            Goalkeeper      1
9            Germany  13.03.1987   180.0    70.0        Right Fullback      1
10             Spain  26.01.1984   177.0    74.0        Right Fullback      2
11           England  05.07.1986   181.0    74.0           Left Winger      1
12           Germany  29.02.1988   187.0    80.0           Center Back      1
13           England  25.02.1982   186.0    77.0  Defensive Midfielder      1
14           England  14.12.1984   185.0    74.0                   NaN      1
15           Germany  23.08.1988   186.0    76.0        Right Fullback      1
16           Germany  14.01.1987   184.0    85.0         Left Fullback      1
17           England  29.04.1981   180.0    74.0         Left Fullback      1
18           England  08.09.1989   186.0    77.0  Attacking Midfielder      1
19             Spain  25.07.1988   181.0    74.0         Left Fullback      1
20           Germany  01.11.1989   180.0    75.0  Attacking Midfielder      1
21           Germany  07.04.1986   186.0    76.0  Attacking Midfielder      1
22           England  02.01.1988   188.0    77.0           Center Back      1
23           Germany  23.02.1992   183.0    85.0           Center Back      1
24           England  13.03.1989   170.0    63.0  Attacking Midfielder      1
25           Germany  16.12.1988   192.0    90.0           Center Back      1
26             Spain  15.10.1988   183.0    76.0  Attacking Midfielder      1
27           Germany  05.08.1977   189.0    88.0  Defensive Midfielder      1
28           England  21.10.1981   188.0    82.0           Center Back      2
29           Germany  10.12.1988   193.0    88.0           Center Back      2
...              ...         ...     ...     ...                   ...    ...
145998        France  22.01.1985   191.0    81.0  Defensive Midfielder      1
145999       England  17.11.1986   175.0    66.0          Right Winger      1
146000       England  12.11.1986   183.0    78.0           Center Back      1
146001         Spain  28.11.1983   178.0    73.0        Center Forward      1
146002        France  04.11.1987   185.0    84.0           Center Back      1
146003         Spain  20.12.1984   180.0    72.0         Left Fullback      1
146004         Spain  28.10.1984   176.0    67.0        Center Forward      1
146005       England  20.05.1982   197.0    87.0            Goalkeeper      1
146006       Germany  16.09.1980   180.0    78.0         Left Fullback      1
146007       Germany  11.02.1983   176.0    74.0  Attacking Midfielder      1
146008       England  01.10.1986   188.0    79.0           Left Winger      1
146009       England  21.09.1979   188.0    95.0           Center Back      3
146010       England  06.08.1983   183.0    71.0          Right Winger      1
146011       England  13.05.1993   193.0    95.0        Center Forward      1
146012       England  06.06.1985   178.0    70.0      Right Midfielder      1
146013       Germany  21.06.1987   194.0    85.0           Center Back      1
146014       England  24.01.1983   173.0    69.0       Left Midfielder      2
146015       England  25.10.1981   168.0    64.0          Right Winger      1
146016       England  20.04.1976   188.0    84.0            Goalkeeper      3
146017       England  12.10.1981   191.0    84.0                   NaN      1
146018       Germany  03.02.1989   191.0    88.0           Center Back      1
146019       England  23.01.1986   188.0    81.0                   NaN      1
146020       Germany  11.12.1976   186.0    79.0  Defensive Midfielder      1
146021       England  21.07.1981   187.0    87.0           Center Back      1
146022       England  28.12.1986   188.0    80.0  Defensive Midfielder      1
146023       England  04.10.1980   178.0    67.0  Attacking Midfielder      1
146024       England  03.07.1988   190.0    87.0           Center Back      1
146025       Germany  10.10.1991   169.0    72.0       Left Midfielder      1
146026       England  12.07.1990   173.0     NaN           Left Winger      1
146027       Germany  14.12.1978   174.0    72.0        Right Fullback      1

        victories    ...     rater2  refNum  refCountry  Alpha_3   meanIAT  \
0               0    ...       0.50       1           1      GRC  0.326391
1               0    ...       0.75       2           2      ZMB  0.203375
2               0    ...        NaN       3           3      ESP  0.369894
3               1    ...        NaN       3           3      ESP  0.369894
4               1    ...        NaN       3           3      ESP  0.369894
5               0    ...       0.00       4           4      LUX  0.325185
6               1    ...       0.25       4           4      LUX  0.325185
7               0    ...       1.00       4           4      LUX  0.325185
8               0    ...       0.25       4           4      LUX  0.325185
9               1    ...       0.00       4           4      LUX  0.325185
10              2    ...       0.00       4           4      LUX  0.325185
11              1    ...       0.50       4           4      LUX  0.325185
12              1    ...       0.00       4           4      LUX  0.325185
13              0    ...       0.00       4           4      LUX  0.325185
14              0    ...       0.25       4           4      LUX  0.325185
15              1    ...       0.00       4           4      LUX  0.325185
16              1    ...       0.50       4           4      LUX  0.325185
17              0    ...       0.00       4           4      LUX  0.325185
18              0    ...       0.00       4           4      LUX  0.325185
19              1    ...       0.25       4           4      LUX  0.325185
20              0    ...       0.25       4           4      LUX  0.325185
21              1    ...       0.00       4           4      LUX  0.325185
22              0    ...       0.00       4           4      LUX  0.325185
23              0    ...       0.00       4           4      LUX  0.325185
24              1    ...       0.00       4           4      LUX  0.325185
25              1    ...       0.25       4           4      LUX  0.325185
26              1    ...       0.25       4           4      LUX  0.325185
27              1    ...       0.25       4           4      LUX  0.325185
28              2    ...       0.00       4           4      LUX  0.325185
29              2    ...       0.25       4           4      LUX  0.325185
...           ...    ...        ...     ...         ...      ...       ...
145998          0    ...       1.00    3147          21      HUN  0.376127
145999          1    ...       0.50    3147          21      HUN  0.376127
146000          0    ...       0.75    3147          21      HUN  0.376127
146001          1    ...       0.25    3147          21      HUN  0.376127
146002          1    ...       0.25    3147          21      HUN  0.376127
146003          0    ...       0.00    3147          21      HUN  0.376127
146004          1    ...       1.00    3147          21      HUN  0.376127
146005          1    ...       0.25    3147          21      HUN  0.376127
146006          0    ...       0.25    3147          21      HUN  0.376127
146007          1    ...       0.25    3147          21      HUN  0.376127
146008          1    ...       0.75    3147          21      HUN  0.376127
146009          3    ...       0.00    3147          21      HUN  0.376127
146010          1    ...       0.25    3147          21      HUN  0.376127
146011          1    ...       0.75    3147          21      HUN  0.376127
146012          0    ...       0.00    3147          21      HUN  0.376127
146013          0    ...       0.25    3147          21      HUN  0.376127
146014          1    ...       0.25    3147          21      HUN  0.376127
146015          1    ...       1.00    3147          21      HUN  0.376127
146016          3    ...       0.00    3147          21      HUN  0.376127
146017          1    ...       1.00    3147          21      HUN  0.376127
146018          1    ...       0.00    3147          21      HUN  0.376127
146019          1    ...       0.25    3147          21      HUN  0.376127
146020          1    ...       0.00    3147          21      HUN  0.376127
146021          1    ...       1.00    3147          21      HUN  0.376127
146022          0    ...       0.50    3147          21      HUN  0.376127
146023          1    ...       0.00    3147          21      HUN  0.376127
146024          0    ...       0.50    3147          21      HUN  0.376127
146025          1    ...       0.25    3147          21      HUN  0.376127
146026          0    ...       0.50    3147          21      HUN  0.376127
146027          0    ...       0.25    3147          21      HUN  0.376127

          nIAT     seIAT   meanExp    nExp     seExp
0        712.0  0.000564  0.396000   750.0  0.002696
1         40.0  0.010875 -0.204082    49.0  0.061504
2       1785.0  0.000229  0.588297  1897.0  0.001002
3       1785.0  0.000229  0.588297  1897.0  0.001002
4       1785.0  0.000229  0.588297  1897.0  0.001002
5        127.0  0.003297  0.538462   130.0  0.013752
6        127.0  0.003297  0.538462   130.0  0.013752
7        127.0  0.003297  0.538462   130.0  0.013752
8        127.0  0.003297  0.538462   130.0  0.013752
9        127.0  0.003297  0.538462   130.0  0.013752
10       127.0  0.003297  0.538462   130.0  0.013752
11       127.0  0.003297  0.538462   130.0  0.013752
12       127.0  0.003297  0.538462   130.0  0.013752
13       127.0  0.003297  0.538462   130.0  0.013752
14       127.0  0.003297  0.538462   130.0  0.013752
15       127.0  0.003297  0.538462   130.0  0.013752
16       127.0  0.003297  0.538462   130.0  0.013752
17       127.0  0.003297  0.538462   130.0  0.013752
18       127.0  0.003297  0.538462   130.0  0.013752
19       127.0  0.003297  0.538462   130.0  0.013752
20       127.0  0.003297  0.538462   130.0  0.013752
21       127.0  0.003297  0.538462   130.0  0.013752
22       127.0  0.003297  0.538462   130.0  0.013752
23       127.0  0.003297  0.538462   130.0  0.013752
24       127.0  0.003297  0.538462   130.0  0.013752
25       127.0  0.003297  0.538462   130.0  0.013752
26       127.0  0.003297  0.538462   130.0  0.013752
27       127.0  0.003297  0.538462   130.0  0.013752
28       127.0  0.003297  0.538462   130.0  0.013752
29       127.0  0.003297  0.538462   130.0  0.013752
...        ...       ...       ...     ...       ...
145998   574.0  0.000714  0.498350   606.0  0.002968
145999   574.0  0.000714  0.498350   606.0  0.002968
146000   574.0  0.000714  0.498350   606.0  0.002968
146001   574.0  0.000714  0.498350   606.0  0.002968
146002   574.0  0.000714  0.498350   606.0  0.002968
146003   574.0  0.000714  0.498350   606.0  0.002968
146004   574.0  0.000714  0.498350   606.0  0.002968
146005   574.0  0.000714  0.498350   606.0  0.002968
146006   574.0  0.000714  0.498350   606.0  0.002968
146007   574.0  0.000714  0.498350   606.0  0.002968
146008   574.0  0.000714  0.498350   606.0  0.002968
146009   574.0  0.000714  0.498350   606.0  0.002968
146010   574.0  0.000714  0.498350   606.0  0.002968
146011   574.0  0.000714  0.498350   606.0  0.002968
146012   574.0  0.000714  0.498350   606.0  0.002968
146013   574.0  0.000714  0.498350   606.0  0.002968
146014   574.0  0.000714  0.498350   606.0  0.002968
146015   574.0  0.000714  0.498350   606.0  0.002968
146016   574.0  0.000714  0.498350   606.0  0.002968
146017   574.0  0.000714  0.498350   606.0  0.002968
146018   574.0  0.000714  0.498350   606.0  0.002968
146019   574.0  0.000714  0.498350   606.0  0.002968
146020   574.0  0.000714  0.498350   606.0  0.002968
146021   574.0  0.000714  0.498350   606.0  0.002968
146022   574.0  0.000714  0.498350   606.0  0.002968
146023   574.0  0.000714  0.498350   606.0  0.002968
146024   574.0  0.000714  0.498350   606.0  0.002968
146025   574.0  0.000714  0.498350   606.0  0.002968
146026   574.0  0.000714  0.498350   606.0  0.002968
146027   574.0  0.000714  0.498350   606.0  0.002968

[146028 rows x 28 columns]